
.project-first-row {
    margin: 20px;
    background-color: white;
}

.project-card {
    background-color: white;
    margin: 20px;
    border-radius: 30px;
    width: 400px;
    box-shadow: 10px 10px 10px 10px grey;
}


.project-card-heading {
    padding: 10px;
}
.project-card-bottom-section {
    padding: 10px;
    text-align: left;
    font-family: "Roboto";
    font-size: 17px;

}

.project-card-image {
    width: 399px;
    height: 250px;
}
.project-card-buttonsection {
    text-align: center;
}
.project-card-button {
    align-items: center;
    margin: 20px;
}