body{
    margin: 50px 60px;
    
}
.home-container {
   margin: 20px 20px 0px 20px;
   
}







.main-container {
    padding: 10px;
    background-color: skyblue;
    margin: 20px 20px 0px 20px;
    box-shadow: 10px 10px 10px 10px grey;
    
}

.hello-heading {
    padding-left: 100px;
    padding-top: 50px;
    color: white;
    text-align: left;
}

.home-heading {
    text-align: left;
    font-size: 100px;
    font-weight: bold;
    color: white;
    padding-left: 100px;
    padding-top: 10px;
    font-family: 'Great Vibes', cursive;

}

.home-paragraph {
    text-align:left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color:black;
    padding-left: 100px;
}

.divya-img {
    float: right;
    width: 400px;
    height: 300pt;
    border-radius: 1000pt;
    
    
}





.footer {
    height: 60px;
    background-color: white;
    padding-left: 30px;
    padding-right: 20px;
    margin: 0px 40px 40px 40px;
    
    box-shadow: 10px 10px 10px 10px grey;
    
}



.footer-paragraph {
    font-family: 'Satisfy', cursive;
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    
    
}

.footer-contact {
    font-family: 'Satisfy', cursive;
    float: right;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.icon {
    width: 35px;
    height: 35px;
    margin: 10px;
    float: right;
}

.envelope-icon {
    color: black;

}

.linkedin-icon {
    color: white;
    background-color: #0077B5;;
    border-radius: 5px;
    padding: 2px;
}

.github-icon {
    color: black;
}